<?xml version="1.0"?>
<launch>

    <node name="anemometer" pkg="zts_3000_ros" type="modbus_driver_node.py" output="screen">
        <param name="port" value="/dev/ttyMODBUS" />
        <param name="baud" value="4800" />
        <param name="modbus_id_wind_dir" value="1" />
        <param name="modbus_id_wind_speed" value="2" />
        <param name="frame_id" value="anemometer_link" />
    </node>

</launch>